<!DOCTYPE html>
<html>
<body>

<h1>Log in</h1>

<div>
    <form>
        <p>Usuario:</p>
        <input trype="text" placeholder="Juanito33">
        <br><br><br>
        <p>Contraseña:</p>
        <input type="password"><br><br>
        <button>Iniciar sesión</button>
    </form><br><br>
    <p>¿Olvidaste tu contraseña? Haz click <a href="https://www.youtube.com">aquí</a> para recuperarla.</p>
    <p>¿No tienes una cuenta? Haz click <a href="https://www.youtube.com">aquí</a> para crear una cuenta.</p>
</div>

</body>
</html>