<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h2>Registro</h2><br>
    <form action="/registro" method="post">
        <label for="nombre">Nombre:</label><br><br>
        <input type="text" id="nombre" name="nombre" required><br><br>
        
        <label for="email">Correo electrónico:</label><br><br>
        <input type="email" id="email" name="email" required><br><br>
        
        <label for="contrasena">Contraseña:</label><br><br>
        <input type="password" id="contrasena" name="contrasena" required><br><br>
        
        <label for="confirmar_contrasena">Confirmar Contraseña:</label><br><br>
        <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" required><br><br>
        
        <input type="submit" value="Registrarse">
    </form>
</body>
</html>
